*{
    margin: 0;
}
.skills{
     height: 100vh; 
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    padding:0px 2%;

}
.skills-name{
    /* display:grid;
    grid-template-columns: repeat(300px,1fr);
    grid-template-rows:repeatauto;
    gap:20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    justify-items: center;
    gap: 10px;
   

}

.skill-n{
    width:90%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.head{
    font-size: 40px;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

