.about{
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.575);
     padding-top: 2.5rem;
     
     color: white;
     border:1px solid yellow;
}
.head{
    font-size: 40px;
    padding-top: 2.5rem;
   
    text-transform: uppercase;
    font-weight: 900;
   
}