.about{
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.575);
}
.head{
    font-size: 40px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;

}