.home-wrapper{
  
    height: 95vh;
    background-color:black;
    color:white;
   
}
.resume:hover{
    color: chartreuse;
    background-color: hotpink;
}
.name-n{
     padding-top: 8rem;
}
.resume-btn{
    padding: 0.7rem 2rem;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    color:rgba(23, 0, 128, 0.733);
}
.my-photo{
    border-radius: 50%;
}

@media screen and (min-width:651px) and (max-width:1024px){
    .home-wrapper{
        height: auto;
        flex-direction: column;
    }
}
@media screen and (min-width:320px) and (max-width:650px){
    .home-wrapper{
        height: auto;
        padding-left: 0;
        flex-direction: column;
    }
}