.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  /* border:1px solid; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  top: 0;
  color:white;
  background-color: rgba(0, 0, 0, 0.884);
}
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: center;
}
.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul > li:hover {
  cursor: pointer;

  color: var(--orange);
}
.n-button {
  flex: 2;
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
}
