/* *{
    box-sizing: border-box;
} */
#pos{
 position: sticky;
 z-index: 999;
 
 transition: all 0.3s ease;
}
.nav-menu:hover{
    cursor: pointer;
    color:chartreuse
}
/* .na-wrapper{
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.993);
    color: white;
   
}

.nav >ul{
    margin: 0;
    padding: 0;
    display: flex;
}
ul>li{
    margin-right: 2rem;
    font-size: 20px;
    font-weight: bold;
}

.name{
    /* margin-left: 3rem; */
    /* font-size: 25px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}  */

/* .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
} */